BOT_CONTAINER_NAME=
BOT_IMAGE_NAME=
BOT_NAME=
BOT_TOKEN=
ADMINS="389929933"
ADMIN_GROUP=-1001598150233

USE_REDIS=False
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

DB_USER=
DB_PASS=
DB_NAME=
DB_HOST=